body, html{
    height: 100%;
}
body{
    background-color: bisque;
}
p{
    font-size: 30px;
}
.miclase{
    color: darkgray;
    font-family: 'Courier New', Courier, monospace;
}
#id1{
    color: rgb(107, 231, 157);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
